<div bp="grid margin--lg">
  <div bp="12">
    <h1>Benjamin Grimes</h1>
    <div bp="grid margin-top">
      <div bp="3 flex vertical-center margin-left--lg">
        <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Email" fontIcon="email"></mat-icon>
        <div bp="fit">benpgrimes@gmail.com</div>
      </div>

      <div bp="3 flex vertical-center">
        <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="GitHub" fontIcon="code"></mat-icon>
        <div bp="fit">github.com/benpgrimes</div>
      </div>

      <div bp="3 flex vertical-center">
        <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="LinkedIn" fontIcon="person"></mat-icon> 
        <div bp="fit">linkedin.com/in/benpgrimes</div>
      </div>

      <div bp="3 flex vertical-center">
        <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Phone Number" fontIcon="phone"></mat-icon>
        <div bp="fit">(571) 315-7115</div>
      </div>


    </div>
  </div>

  <div bp="6 margin-right">
    <div class="section-header" bp="flex vertical-center">
      <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Work" fontIcon="work"></mat-icon>
      <h2>
        Work Experience
      </h2>
    </div>

    <div bp="margin-left">
      <h3>Vintage Software</h3>
      <i bp="margin-top--none">Full Stack Software Developer</i>
      

      <div bp="margin-right">
        <div bp="flex vertical-center margin-top--sm">
          <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Work Timespan" fontIcon="today"></mat-icon>
          <div bp="fit margin-right--lg">01/2022 - 05/2023</div>

          <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Location" fontIcon="place"></mat-icon>
          <div bp="fit">Jackson, MO</div>
        </div>

        <!--
        <div bp="margin-top">
          Worked  with our design team to update old pages, fix bugs, and update legacy code across the site.
          During my time there, I contributed ~300 commits, and the amount of legacy pages was reduced by ~50%.
        </div>
        -->
        <div class="description" bp="padding-top--sm" >
          Vintage Software owns, maintains, and improves the website EstateSales.NET, a platform for listing and discovering estate sales in your local area. The company was bought by Auction Technology Group (ATG) in 2023 for approximately 40 million.
        </div>
        <ul bp="padding-left margin-top--sm">
          <li>Developed new front-end webpages and functionality using Angular Material TypeScript.</li>
          <li>Applied CQRS principles for the server-side C# application development.</li>
          <li>Conducted code reviews for peer Pull Requests to ensure quality standards.</li>
          <li>Transitioned outdated Webforms and JavaScript pages using modern technologies.</li>
          <ul>
          <li>Achieved 50% reduction in legacy pages during my tenure.</li>
          </ul>
        </ul>
      </div>
    </div>

    <mat-divider bp="margin-bottom"></mat-divider>

    <div bp="margin-left">

      <h3>George Mason University</h3>
      <i>Teaching Assistant</i>
      <div bp="margin-right">

        <div bp="flex vertical-center margin-top--sm">
          <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Work Timespan" fontIcon="today"></mat-icon>
          <div bp="fit margin-right--lg">09/2017 - 12/2019</div>

          <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Location" fontIcon="place"></mat-icon>
          <div bp="fit">Fairfax, VA</div>
        </div>

        <!--
        <div bp="margin-top">
          My first introduction to Computer Science was CS112, where I was offered a UTA position upon completion.
          I was a UTA from Sophmore to Senior year.
        </div>
        -->

        <ul bp="padding-left margin-top--sm">
          <li>Assisted during lab and personal office hours in CS112 - Introductory Programming, a course taught in Python.</li>
          <li>Assisted during lectures and personal office hours in CS211 - Object Oriented Programming, a course taught in Java.</li>
          <li>Graded and provided detailed feedback for quizzes and projects in the course CS306 – Law and Ethics.</li>
        </ul>
      </div>
    </div>
   <mat-divider bp="margin-bottom"></mat-divider>

    <div bp="margin-left">
      
      <h3>Ontology Engineering Group</h3>
      <i>Engineering Intern</i>

      <div bp="margin-right">
      <div bp="flex vertical-center margin-top--sm">
        <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Work Timespan" fontIcon="today"></mat-icon>
        <div bp="fit margin-right--lg">06/2019 - 07/2019</div>

        <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Location" fontIcon="place"></mat-icon>
        <div bp="fit">Madrid, Spain</div>
      </div>
      <div class="description" bp="padding-top--sm">
        Part of the Universidad Politécnica de Madrid, the OEG worked primarily in research related to the semantic web.
      </div>
      <ul bp="padding-left margin-top--sm">
        <li>Processed images for shapes using Java OpenCV, for the eventual goal of determining best practices for teaching fundamentals of the semantic web.</li>
      </ul>
    </div>
    </div>    

   <div class="section-header" bp="flex vertical-center">
      <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Skills" fontIcon="star"></mat-icon>
      <h2>
        Skills And Technologies
      </h2>
    </div>
    <div bp="margin-left">
    <ul bp="padding-left margin-top--sm">
        <li><Strong>Skills:</Strong> Artificial Intelligence, Machine Learning, LLMs, NLP, Data Analysis, Data Visualization, Web Development, Agile Methodologies, Software Architecture</li>
        <li><Strong>Technologies:</Strong> Python, Pytorch, Tensorflow, Huggingface, Pandas, Git, R, Java, C#, Unix, Typescript, Angular, SQL</li>
      </ul>
    </div>
  </div>

  <div bp="6">
    <div class="section-header" bp="flex vertical-center">
      <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Education" fontIcon="school"></mat-icon>
      <h2>
        Education
      </h2>
    </div>

    <div bp="margin-left">
      <h3 bp="margin-top--none">University of Sydney</h3>
      <i>Master of Data Science; Machine Learning, Specialization</i>
      <div bp="margin-right">
        <div bp="flex vertical-center margin-top--sm">
          <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Work Timespan" fontIcon="today"></mat-icon>
          <div bp="fit margin-right--lg">07/2024 - 11/2025</div>

          <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Location" fontIcon="place"></mat-icon>
          <div bp="fit">Sydney, Australia</div>
        </div>
      <ul bp="padding-left margin-top--sm">
        <li>Graduated with Distinction</li>
        <li>Relevant Coursework: Machine Learning and Data Mining, Advanced Machine Learning, Deep Learning, Natural Language Processing, Visual Analytics, Principles of Data Science, Computational Statistical Methods</li>
      </ul>
      </div>

      <mat-divider bp="margin-bottom"></mat-divider>
      
      <h3 bp="margin-top--none">George Mason University</h3>
      <i>Bachelor of Computer Science, Major; Software Engineering, Minor</i>
      <div bp="margin-right">
        <div bp="flex vertical-center margin-top--sm">
          <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Work Timespan" fontIcon="today"></mat-icon>
          <div bp="fit margin-right--lg">08/2016 - 05/2021</div>

          <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Location" fontIcon="place"></mat-icon>
          <div bp="fit">Fairfax, VA</div>
        </div>
        <ul bp="padding-left margin-top--sm">
          <li>Relevant Coursework: Artificial Intelligence, Data Mining, Data Structures, Algorithms, Concurrent & Distributed Systems, Software Architectures, Software Testing & Maintenance, Usability Analysis/Design, Linear Algebra, Calculus I-III.</li>
        </ul>
      </div>

      
      
    </div>
    <div class="section-header" bp="flex vertical-center margin-top--lg">
      <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Projects" fontIcon="assignment"></mat-icon>
      <h2>
      Projects
      </h2>
    </div>

    <div bp="margin-left">
      <h3>SHeLL- Medical Terms, Acronyms, and Definitions</h3>
      <div bp="margin-right">
        <div bp="flex vertical-center margin-top--sm">
          <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Work Timespan" fontIcon="today"></mat-icon>
              <div bp="fit margin-right--lg">08/2025 - 11/2025</div>
        </div>
        <ul bp="padding-left margin-top--sm">
          <li>Researched and developed a pipeline for the identification and disambiguation of complex medical terms and acronyms within client facing medical texts.</li>
          <li>Achieved an F1 score of >0.9 on both acronym detection and acronym expansion detection. Achieved an accuracy >0.9 on acronym disambiguation.
            <ul>
              <li>Plans for the Sydney Heath Literacy Lab (SHeLL) to add the developed functionality to their editor will begin in early 2026.</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <mat-divider bp="margin-bottom"></mat-divider>

    <div bp="margin-left">
      <h3>Foreman DeGeurin Website</h3>
      <div bp="margin-right">
        <div bp="flex vertical-center margin-top--sm">
            <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Work Timespan" fontIcon="today"></mat-icon>
        <div bp="fit margin-right--lg">2023</div>
          </div>
        <ul bp="padding-left margin-top--sm">
          <li>Developed the current foremandegeurin.com for the law firm Foreman, DeGeurin & DeGeurin.</li>
        </ul>
      </div>
    </div>


    <div class="section-header align-fix" bp="flex vertical-center">
      <mat-icon bp="fit margin-right--xs" aria-hidden="false" aria-label="Interests" fontIcon="nordic_walking"></mat-icon>
      <h2>
        Interests
      </h2>
    </div>
    <div bp="margin-left">
    <ul bp="padding-left margin-top--sm">
        <li>Travel, Hiking, D&D, Reading, Writing, Scuba Diving, Weightlifting, Gaming, 3D Modeling and Animation</li>
      </ul>
    </div>
  </div>
</div>